/* 
    Created on : Feb 14, 2022, 3:45:51 PM
    Author     : jose
*/

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}
.container{
	height: 100vh;
	width: 100%;
        background-color: #F1725E;
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;	
	position: relative;
}

.top{
	height: 15vh;
	width: 100%;
	margin: auto;
	display: flex;	
	align-items: center;
}

nav{
	flex: 10;
	padding-left: 1000px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
        font-size: 35px;
}
nav ul li a {
        text-decoration: none;
	color: black;
}

.content{
	margin-top: 5%;
	margin-left: 5%;
}

.image1{
    	margin-top: 20px;
	display: flex;
}

.image1 h1{
        font-size: 35px;
        font-weight: 900;
}

.image1 img{
        width: 15%;
    	margin-right: 25px;
	
}
.image1 ul li {
        font-size: 20px;
        font-weight: 300;	
}

.image2{
    	margin-top: 20px;
	display: flex;
}

.image2 h1{
        font-size: 35px;
        font-weight: 900;
}

.image2 img{
        width: 15%;
    	margin-right: 25px;
	
}
.image2 ul li {
        font-size: 20px;
        font-weight: 300;	
}

content h1 {
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
        font-size: 35px;
}
.content h1{
        text-decoration: none;
	color: black;
}